@mixin uppercase-white-text() {
    text-transform: uppercase;
    color: $white-color;
}

@mixin flex_row {
    display: flex;
    flex-direction: row; // optional because default flex-direction value is 'row' for display: flex
}

@mixin flex_column {
    display: flex;
    flex-direction: column; 
}

@mixin product_detail {
    display: flex;
    flex-direction: column;
    gap: $regular-distance / 10;
    padding: $regular-distance / 3;
    span {
        color: $gray-color;
        font-size: $large-font-size;
        font-weight: $regular-font-weight;

        &:first-child {
            color: $burgundy-color;
            font-weight: $x-bold-font-weight;
        }

        &:nth-child(2), &:last-child {
            color: $black-color;
            font-weight: $bold-font-weight;
        } 
    }
}