// colors 
$black-color: #111;
$white-color: #FFF;
$gray-color: #7E7E7E;
$light-gray-color: #F5F5F5;

// font family 
$font-family: 'Helvetica';

// font size
$large-font-size: 15px;
$font-size: 12px;
$medium-font-size: 11px;
$small-font-size: 10px;