@import 'variables';
@import 'mixins';

#cart_container {
    @include flex_row();
    margin-top: $regular-distance;
    justify-content: space-around;

    .column_title {
        color: $black-color;
        font-weight: $bold-font-weight;
        margin-bottom: $regular-distance;
        line-height: 33px;
        font-size: 21px;
    }

    #cart_left_column {
        flex-basis: 50%;

        #cart_item_container {
            @include flex_column();
            gap: $regular-distance;

            .cart_item {
                @include flex_row();
                
                .cart_item_image {
                    width: 163px;
                    height: 163px;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .cart_item_detail {
                    padding: 28px 40px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .cart_item_name {
                        color: #222;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px;
                    }

                    .cart_item_price {
                        color: #222;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 24px; 
                    }

                    .cart_item_edit {
                        @include flex_row();
                        gap: $regular-distance;

                        .quantity_edit {
                            @include flex_row();

                            .quantity {
                                padding: 0 $regular-distance/3;
                                font-size: 18px;
                            }

                            .minus, .plus {
                                background-color: $light-gray-color;
                                width: 25px;
                                height: 25px;
                                text-align: center;
                                line-height: 20px;
                                font-size: 20px;
                                border-radius: 50%;
                                cursor: pointer;
                                transition: .3s;

                                &:hover {
                                    background-color: $gray-color;
                                }
                            }
                        }

                        .delete {
                            cursor: pointer;
                        }
                        
                    }
                }
            }
            
        }
    }

    #cart_right_column {
        @include flex_column();
        flex-basis: 35%;
        gap: $regular-distance;
        
        #receipt_items {
            @include flex_column();
            gap: $regular-distance * 2/3;
        }

        .receipt_row {
            @include flex_row();
            justify-content: space-between;
            color: $black-color;
            font-size: 15px;
            font-weight: $bold-font-weight;
            line-height: 28px;
        }

        #checkout_button {
            background-color: $black-color;
            color: $white-color;
            margin: auto;
            padding: 22px 130px;
            cursor: pointer;
            border-radius: 40px;
        }
    }
}

@media (max-width: 800px) {
    #cart_container {
        @include flex_column();
        gap: $regular-distance;
    }

    #cart_left_column, #cart_right_column {
        width: 80%;
        margin: auto;
    }
}