@import 'variables';
@import 'mixins';


#footer_wrapper {
    @include grand_container();
    height: 331px;
    background-color: $black-color;
    color: $gray-color;

    #footer {
        // width: 100%;
        background-color: $black-color;
        padding: 40px 34px 0 34px;
        display: flex;

        #footer_body {
            display: flex;
            height: auto;
            flex-direction: row;
            padding: 0 50px;
            // justify-content: center;

            .footer_content_block {
                text-transform: capitalize;
                font-size: $font-size;
                // width: 257px;
                padding-right: 150px;

                &:first-child {
                    @include uppercase-white-text();
                    li {
                        line-height: 33px;
                        font-size: $small-font-size;
                    }
                }

                &:not(:first-child) {
                    li {
                        &:first-child {    
                            @include uppercase-white-text();
                        }
                    }
                }

                ul {
                    padding-inline-start: 0;

                    li {
                        line-height: 28px;
                        font-weight: 400;
                        cursor: pointer;
                    }
                }
            }
        }

        #footer_bottom {
            // height: auto;
            margin-top: 16px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: column;

            #footer_bottom_left {
                display: flex;
                line-height: 62px;
                font-weight: 400;
                gap: 16px;

                #location {
                    display: flex;
                    font-size: $font-size;
                    color: $white-color;

                    img {
                        width: 15px;
                        height: 15px;
                    }
                }

                #copyright {
                    font-size: $medium-font-size;
                }
            }

            #footer_bottom_right {
                ul {
                    display: flex;
                    padding-inline-start: 0;
                    // justify-content: space-around;
                    gap: 35px;
                    line-height: 62px;
    
                    li {
                        cursor: pointer;
                        font-size: $font-size;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}