@import 'variables';
@import 'mixins';

// general configs
* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    cursor: pointer;
}

a, a:hover {
    text-decoration: none;
}

.visit_button {
    background-color: $black-color;
    color: $white-color;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    border-radius: 30px;
    padding: 4px 15px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: $blue-color;
    }
}

.subtitle {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    font-size: 23px;
    font-weight: 500;
    color: $black-color;
}

.card_container {
    display: flex;
    gap: 12px;
}

.top_banner {
    @include flex_column();
    gap: $regular-distance;

    .top_banner_image {
        position: relative;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        .top_banner_image_description {
            position: absolute;
            top: 43px;
            left: 157px;
            right: 177px;
            color: $black-color;
            font-size: 58px;
            font-weight: $bold-font-weight;
            line-height: $regular-distance * 2;
            text-transform: uppercase;
            text-align: center;

            span {
                color: $white-color;
            }
        }
    }

    .top_banner_information {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $regular-distance;
        text-align: center;
    }
}

.product_row {
    @include flex_row();
    width: 100%;
    justify-content: space-between;
    gap: $regular-distance * 2;

    .product_card {
        @include flex_column();
        height: 520px;


        .product_card_image {
            cursor: pointer;
            width: auto;
        }

        .product_card_detail {
            @include product_detail();
        }
    }
}


.exclusive_shoes_container {
    @include flex_row();
    margin-top: $regular-distance;
    justify-content: space-around;

    .exclusive_shoes_header {
        @include flex_column();
        text-align: center;
        color: $black-color;
        gap: $regular-distance;
        justify-content: center;

        .exclusive_shoes_category {
            font-size: 15px;
            font-weight: $bold-font-weight;
            line-height: 24px;
            text-transform: uppercase;
        }

        .exclusive_shoes_name {
            font-size: 57px;
            font-weight: $bold-font-weight;
            line-height: $regular-distance * 2;
            text-transform: uppercase;
        }

        .exclusive_shoes_description {
            font-size: 15px;
            font-weight: $regular-font-weight;
            line-height: 24px;
        }
    }
}

.section_header {
    color: $black-color;
    font-size: 23px;
    font-weight: $bold-font-weight;
    line-height: 28px;
    margin-bottom: $regular-distance;
}

.three_columns_section_container {
    margin: $regular-distance 0;

    .three_columns_section_body {
        @include flex_row();
        gap: 12px;
        justify-content: space-around;

        .three_columns_card {
            width: 465px;
            height: auto;
            position: relative;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            .visit_button {
                position: absolute;
                left: 10%;
                bottom: 10%;
            }
        }
    }
}


#bottom_nav {
    @include flex_row();
    width: 75%;
    height: auto;
    margin: 77px auto 60px auto;
    justify-content: space-between;

    .bottom_nav_element {
        width: 210px;

        ul {
            padding-inline-start: 0;
            
            li {
                color: $gray-color;
                line-height: 24px;
                margin-bottom: 12px;
                font-size: 15px;
                font-weight: $bold-font-weight;

                &:first-child {
                    color: $black-color;
                    margin-bottom: 24px;
                    font-weight: $xx-bold-font-weight;
                }
            }
        }
    }
}

.two_columns_section_container {
    margin: $regular-distance 0;
    height: auto;

    .two_columns_section_body {
        @include flex_row();
        gap: 12px;

        .two_columns_card {
            flex-grow: 1;

            .two_columns_image {
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                }

                .two_columns_detail {
                    @include flex_column();
                    position: absolute;
                    bottom: 10%;
                    left: 5%;
                    width: 80%;
                    gap: $regular-distance;

                    .two_columns_description {
                        color: $black-color;
                        font-size: 20px;
                        font-weight: $bold-font-weight;
                        line-height: 24px;
                    }
                }
            }
        }
        
    }

}

@media (max-width: 800px) {

    .three_columns_section_body, .two_columns_section_body {
        @include flex_column();
    }

    .three_columns_section_body {
        flex-wrap: wrap;
        align-items: center;
    }
    
    .top_banner_image_description {
        display: none;
    }
}

@media (max-width:1080px) {

    .exclusive_shoes_container, #bottom_nav {
        @include flex_column();
    }

    .exclusive_shoes_container {
        .product_row {
            @include flex_row();
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
        }
    }

    #bottom_nav {
        .bottom_nav_element {
            margin: auto;
            text-align: center;
        }
    }

}

@media (max-width: 1300px) {
    #footer_bottom {
        padding: 0 50px;
    }

    #footer {
        @include flex_column();
    }
}