@import 'variables';
@import 'mixins';

#header_wrapper {
    width: 100%;
    max-width: 1512px;
    margin: auto;

    #header {
        @include flex_row();
        width: 90%;
        margin: auto;
        height: 50px;

        #logo, #menu {
            flex-grow: 1;
        } 

        #logo 
            img {
                width: 103px;
            }
        }

        
        #menu {
            @include flex_row();
            justify-content: space-around;
            align-items: center;

            #nav_bar {
                margin-top: 13px;
                ul {
                    @include flex_row();
                    gap: 24px;
                    li {
                        a {
                            color: $black-color;
                        }
                    }
                }
            }

            #user_action {
                @include flex_row();
                gap: 20px;
                align-items: center;
                #search_bar {
                    position: relative;

                    #search_icon {
                        position: absolute;
                        top: 8px;
                        left: 12px;
                        img {
                            width: 24px;
                            cursor: pointer;
                        }
                    }
                    input {
                        width: 180px;
                        height: 40px;
                        border: none;
                        padding: 10px 48px 11px 48px;
                        border-radius: 100px;
                        background: $light-gray-color;
                    }
                }

                #purchase_action {
                    @include flex_row();
                    gap: 12px;

                    img {
                        width: 24px;
                    }
                }
            }
        }

        #collapsed_menu {
            display: none;
            position: relative;
            i {
                font-size: 24px;
                line-height: 50px;
                cursor: pointer;
            }

            #dropdown {
                position: absolute;
                z-index: 99;
                background-color: $white-color;
                right: 0;
                padding: $regular-distance;
                display: none;
                flex-direction: column;
                gap: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                ul {
                    @include flex_column();
                    gap: $regular-distance / 3;
                }

                a {
                    color: $black-color;
                }

                #user_action_dropdown {
                    @include flex_row();
                    justify-content: space-around;

                    img {
                        width: 24px;
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 800px) {
    #menu {
        display: none !important;
    }

    #collapsed_menu {
        display: block !important;
    }
}