@import 'variables';
@import 'mixins';

#login_wrapper {
    @include flex_column();
    text-align: center;
    margin: 70px 0;
    gap: 45px;
    flex-wrap: wrap;
    justify-content: center;

    #login_header {
        color: $black-color;
        font-size: 22px;
        font-weight: $xx-bold-font-weight;
        line-height: 28px;
    }

    #login_body {
        @include flex_row();
        justify-content: center;
        flex-wrap: wrap;

        #login_form {
            form {
                @include flex_column();
                gap: 50px;

                #input {
                    @include flex_column();
                    gap:50px;
                }

                .input_field {
                    display: grid;
                    flex-direction: column;
                    align-items: flex-start;
                    position: relative;
                    
                    label {
                        color: #6E6E6E;
                        font-size: 9.75px;
                        font-weight: 500;
                        line-height: 16px;
                        letter-spacing: 0.75px;
                        text-transform: uppercase;
                        position: absolute;
                        left: 0;
                        top: -20px;
                    }

                    input {
                        height: 50px;
                        border: none;
                        border-bottom: 1px solid #b3b3b3;
                    }

                    i {
                        position: absolute;
                        right: 0;
                        bottom: 15px;
                        cursor: pointer;
                    }
                }

                button {
                    padding: 16px 140px;
                    color: #CCC;
                    text-align: center;
                    font-size: 12px;
                    font-weight: $bold-font-weight;
                    line-height: 22px;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    border: none;
                }
            }
        }

        #divider {
            color: $gray-color;
            font-size: 9.75px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            padding: 108px 50px;
        }

        #login_options {
            @include flex_column();
            padding-top: 50px; 
            gap: 12px;

            .option {
                @include flex_row();
                border: 2px solid $black-color;
                cursor: pointer;

                .option_icon {
                    padding: 18px 30px;
                }

                .option_name {
                    line-height: 65px;
                    color: $black-color;
                    text-align: center;
                    font-size: 14px;
                    font-weight: $bold-font-weight;
                    padding: 0 70px 0 10px;
                }
            }
        }
    }

    #login_footer {
        @include flex_column();
        gap: 35px;

        #cant_log_in {
            color: #0E0E0E;
            text-align: center;
            font-size: 12px;
            font-weight: $bold-font-weight;
            line-height: 22px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            cursor: pointer;
        }

        #term {
            color: $gray-color;
            text-align: center;
            font-size: 12px;
            font-weight: $regular-font-weight;
            line-height: 16px;
            cursor: pointer;
        }
    }
}

@media (max-width: 800px) {

    #login_body {
        @include flex_column();
        flex-wrap: wrap;
        padding: 0 50px;

        #login_form, #divider, #login_options {
            width: 100%; 
        }
    }
}